<component name="libraryTable">
  <library name="mybatis-3.4.6">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/mybatis-3.4.6.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/ant-1.9.6.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/ant-launcher-1.9.6.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/asm-5.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/cglib-3.2.5.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/javassist-3.22.0-GA.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/log4j-1.2.17.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/log4j-api-2.3.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/log4j-core-2.3.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/ognl-3.1.16.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/slf4j-api-1.7.25.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/slf4j-log4j12-1.7.25.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>